
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background-image:url(../image/barun3.jpg);
    background-repeat: no-repeat;
   background-size: cover;
}
nav{
    width: 100%;
    height: 15vh;
     background: black;
     color: aliceblue;display: flex; justify-content: space-around;
     align-items: center;text-transform: uppercase;
     background: rgba(0,0,0,0.2);
}
nav .logo{

width: 25%; align-items: center; color: #cf0c0c;
;
}
nav .menu{
    width: 40%; 
}
nav .menu a{
    width: 25%;text-decoration: none;
    font-weight: bold;
}
nav .menu a:first-child{
    color: #094921;
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(28, 115, 230);
}
section{

}
section h3{
      font-size: 35px; font-weight: 200;letter-spacing: 3px;
      text-shadow: 1px 1px 2px black; color: rgb(74, 44, 145);
      font-weight: bold;   font-family:Cursive;

}
section h1{
   margin: 20px 0 20px 0;
   font-size: 55px;
font-weight: 700;
text-shadow: 2px 1px 5px black;
text-transform: uppercase;
color: black;



}
section p{
    margin-bottom:  25px ;
    font-size: 25px;
    word-spacing: 2px;
    text-shadow: 1px 1px 1px black;
 
}
section a{
   padding: 12px 30px ;
   border-radius: 4px;
   outline: none;
   text-transform:uppercase ;
   font-size: 13px;
   font-weight: 500;
   text-decoration: none;
   letter-spacing: 1px;
}
section .btnone{
    background: #80ac91;
    color: white;

}
.btnone:hover{
    background: #940f0f;
    color: rgb(47, 190, 209);
}
}
section .btntwo{
    background: #0edf7d;
    color: white;
}
.btntwo:hover{
    background: #80ac91;
    color: white;
}
.change_content::after{
    content: "";
animation: changetext 10s infinite linear;
color: rgb(206, 30, 162); font-family: Cursive;
}

@keyframes changetext {
    0%{content: "Delhi";}
    20%{content: "Bokaro";}
    35%{content: "Hazaribag";}
    50%{content: "Mumbai";}
    65%{content: "Jaypur";}
    85%{content: "Ranchi";}
    100%{content: "Giridih";}
    
    
}